.card{
  width:600px;
  height: 378px;
  margin:0 auto;
  position: relative;
  perspective: 1000px;
}

.card>.front{
  width:100%;
  height: 100%;
  background-image: url('https://cdn.lcnews.co.kr/news/photo/202003/5187_5775_442.jpg');
  z-index:2;
  position: absolute;
  transition:1s;
}

.card>.back{
  width:100%;
  height: 100%;
  background-image: url('https://m.hanacard.co.kr/ATTACH/NEW_MOBILE/images/cardinfo/card_img/04652.png');
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  transition:1s;
}

.card:hover>.front{
  transform:rotateY(180deg);
  z-index: 1;
}

.card:hover>.back{
  transform: rotateY(180deg);
  z-index: 2;
}