table{
    width:500px;
    height: 300px;
    margin: 0 auto;
    border-top: 1px solid black;
    border-collapse:collapse;
}
th{
    width:25%;
    border-top: 1px solid black;
}
td{
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

table tr:nth-child(2n-1){
    background-color: #ddd;
}